---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>El Rabón Farm</title>
  </head>
  <body>
    <h1 class="text-3xl p-8">El Rabón Farm</h1>
    <p class="px-8">Welcome to El Rabón Farm.</p>
  </body>
</html>
